<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <customErrors mode="Off"/>
    <machineKey decryption="AES" decryptionKey="BDC219AC70EAE53323920612BD51FB20101C284CCC578829DD4AAB519FA7B599" validation="HMACSHA256" validationKey="407925E37992B10EC2752B479874690D3FFB0BFC15B72D185A8DBE7BD8397C94E3F126D70A17BF1065CE84FD57873A3769F5A4171D9D520D3652F79BB31173BA" />
    <compilation debug="true" targetFramework="4.5">
    </compilation>
    <httpRuntime targetFramework="4.5" />
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" timeout="30" defaultUrl="Default.aspx" cookieless="AutoDetect">
      </forms>
    </authentication>
    <authorization>
      <allow users="*" />
    </authorization>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="MySql.Web.Profile.MySQLProfileProvider, MySql.Web, Version=6.7.4.0" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="MySQLMembershipProvider1">
      <providers>
        <clear />
        <add connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" autogenerateschema="true" name="MySQLMembershipProvider1" type="MySql.Web.Security.MySQLMembershipProvider, MySql.Web, Version=6.7.4.0" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add connectionStringName="DefaultConnection" applicationName="/" name="DefaultRoleProvider" type="MySql.Web.Security.MySQLRoleProvider, MySql.Web, Version=6.7.4.0" />
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState timeout="20" mode="Custom" customProvider="DynamoDBSessionStoreProvider">
      <providers>
        <add name="DynamoDBSessionStoreProvider" type="Amazon.SessionProvider.DynamoDBSessionStateStore" AWSAccessKey="" AWSSecretKey="" Region="us-west-2" Application="DMW2ShapeStore" Table="%%DYNAMODB_TABLE_STRING%%" ReadCapacityUnits="3" WriteCapacityUnits="1" CreateIfNotExist="true" />
      </providers>
    </sessionState>
  </system.web>
  <connectionStrings>
    <add name="DefaultConnection" providerName="MySql.Data.MySqlClient" connectionString="Server=%%MYSQLDB_STRING%%;Port=3306;Database=shapestoremembershipdb;Uid=%%MYSQLDB_USER_STRING%%;Pwd=%%MYSQLDB_PASSWORD_STRING%%" />
    <add name="StoreSqlDb" providerName="MySql.Data.MySqlClient" connectionString="Server=%%MYSQLDB_STRING%%;Port=3306;Database=%%MYSQLDB_DBNAME_STRING%%;Uid=%%MYSQLDB_USER_STRING%%;Pwd=%%MYSQLDB_PASSWORD_STRING%%" />
    <add name="StoreSqlDbReplica" providerName="MySql.Data.MySqlClient" connectionString="Server=dmw2shapestoreinstancereplica.cxkjrsk8xjz1.us-west-2.rds.amazonaws.com;Port=3306;Database=%%MYSQLDB_DBNAME_STRING%%;Uid=%%MYSQLDB_USER_STRING%%;Pwd=%%MYSQLDB_PASSWORD_STRING%%" />
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="SQSQueueName" value="%%SQS_QUEUE_NAME_STRING%%" />
    <add key="S3BucketName" value="%%S3_BUCKET_NAME_STRING%%" />
    <add key="AWSAccessKey" value="" />
    <add key="AWSSecretKey" value="" />
    <add key="AWSProfileName" value="AWS Default"/>

<!--AWSProfileName is used to reference an account that has been registered with the SDK.
If using AWS Toolkit for Visual Studio then this value is the same value shown in the AWS Explorer.
It is also possible to register an account using the <solution-dir>/packages/AWSSDK-X.X.X.X/tools/account-management.ps1 PowerShell script
that is bundled with the nuget package under the tools folder.

		<add key="AWSProfileName" value="" />
-->
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AWSSDK" publicKeyToken="9f476d3089b52be3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.16.0" newVersion="2.3.16.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>